# Dependencies
node_modules/
.env

# Logs
*.log
npm-debug.log*

# OS / Editor Files
.DS_Store
.idea/
.vscode/
*.sw?

# Build artifacts
frontend/build/
frontend/dist/
backend/dist/
node_modules/
.env
*.log
note.txt
